<h1 align=right><span style='font-family:Arial Black'>Henry</span></h1>
<h1 align=center><span style='font-family:Arial Black'>ETL</span></h1>
<p><img src="formas/ETL.jpg", width="300"></p>
<h6 align=center><span style='font-family:Arial Black'>Parte 1</span></h6>

# *`Para iniciar la exploración, transformación y carga de datos,necesitamos trabajar en los`*:
### 1. *`Archivos Originales gz`*:
* `steam_games.json.gz`
* `user_reviews.json.gz`
* `users_items.json.gz`

### 2. *`De los anteriores se obtuvieron los respectivos json en folder zip`*:
* `steam_games.json`
* `user_reviews.json`
* `users_items.json`

### 3. *`De los archivos zip se extraen los correspondientes json`*:
* `output_steam_games.json`
* `australian_user_reviews.json`
* `australian_user_items.json`

### Obtenidos los archivos de trabajo, borré sus correspondientes folders para alojarlos en la carpeta `data`.
* Mismos que quedaron en `Desktop` y a un lado del proyecto `PI_ML_OPS`.
* Estos archivos no podrán ser vistos en `GitHub`, cuando suba el proyecto.
* Los archivos aparecen junto con el `Diccionario de Datos STEAM`.
* Capturamos la ubicación del folder `data` y su apertura para ver contenido.

<p><img src="formas/data.png", width="500"></p>
<p><img src="formas/data_open.png", width="700"></p>

In [1]:
# Para iniciar el ETL, necesitamos importar las librerias necesarias para trabajar en la apertura de archivos json.
import pandas as pd
import ast

### Empezando por abrir el archivo:*`steam_games.json`*
* Este archivo no lo pude abrir sin `lines=True`.
* Aunque este parametro no es nativo de Python.
* Ello, puede abrir un archivo `JSON en Python` y 
* puede procesar cada `línea del archivo JSON`, 
* si el `archivo JSON está formateado` de tal manera
* que cada línea sea un `objeto JSON independiente`. 
* Esto es comúnmente conocido como `JSON Line`

In [2]:
df_games = pd.read_json('../data/output_steam_games.json',lines=True)

In [3]:
df_games.head(2)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None

In [4]:
# Revisando las columnas del archivo abierto
df_games.columns

Index(['publisher', 'genres', 'app_name', 'title', 'url', 'release_date',
       'tags', 'reviews_url', 'specs', 'price', 'early_access', 'id',
       'developer'],
      dtype='object')

In [5]:
df_games.shape

(120445, 13)

In [5]:
# Eliminamos los valores nulos y revisamos el tipo de columnas, y vemos que
# Las columnas: 'genres','tags' y 'specs' aparecen como lista cada registro.
df_games = df_games.dropna()
df_games.head(2)

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",http://steamcommunity.com/app/761140/reviews/?...,[Single-player],4.99,0.0,761140.0,Kotoshiro
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",http://steamcommunity.com/app/643980/reviews/?...,"[Single-player, Multi-player, Online Multi-Pla...",Free To Play,0.0,643980.0,Secret Level SRL

In [6]:
# Checamos la cantidad de registros y columnas
df_games.shape

(120445, 13)

In [7]:
# Verificamos columna 'release_date' para extaer la columna 'year'
df_games.release_date.sort_values()

89687     1983-06-19
89855     1984-04-29
110028    1984-11-01
116377    1985-01-01
99223     1986-05-01
             ...
109456      Oct 2016
101344          SOON
120318         SOON™
119928      Sep 2009
90917       Sep 2014
Name: release_date, Length: 22530, dtype: object

In [8]:
# Eliminamos los indices: 'SOON' y ' SOON™'
df_games= df_games.drop([101344,120318])

In [9]:
# Verificamos la eliminación de los indices anteriores
df_games.release_date.sort_values()

89687     1983-06-19
89855     1984-04-29
110028    1984-11-01
116377    1985-01-01
99223     1986-05-01
             ...
88819       Oct 2010
88816       Oct 2010
109456      Oct 2016
119928      Sep 2009
90917       Sep 2014
Name: release_date, Length: 22528, dtype: object

In [10]:
# Extraemos la columna 'year' de la columna 'release_date', usando el método 'to_datetime' de la librería 'pandas'
df_games['year'] = pd.to_datetime(df_games['release_date'],errors='coerce').apply(lambda x:str(x).split('-')[0] if x != None else None)

In [11]:
# Convertimos los registros de la columna 'year' a 'integer'
df_games.year = df_games.year.astype(int)

In [12]:
# Verificamos el total de columnas y registros
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22528 entries, 88310 to 120443
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     22528 non-null  object
 1   genres        22528 non-null  object
 2   app_name      22528 non-null  object
 3   title         22528 non-null  object
 4   url           22528 non-null  object
 5   release_date  22528 non-null  object
 6   tags          22528 non-null  object
 7   reviews_url   22528 non-null  object
 8   specs         22528 non-null  object
 9   price         22528 non-null  object
 10  early_access  22528 non-null  float64
 11  id            22528 non-null  float64
 12  developer     22528 non-null  object
 13  year          22528 non-null  int32
dtypes: float64(2), int32(1), object(11)
memory usage: 2.5+ MB

In [13]:
# Verificamos la columna 'price'
df_games['price']

88310             4.99
88311     Free To Play
88312     Free to Play
88313             0.99
88315             3.99
              ...
120439            1.99
120440            1.99
120441            4.99
120442            1.99
120443            4.99
Name: price, Length: 22528, dtype: object

In [14]:
# Convertimos los registros de la columna 'price' a número, usando el método 'to_numeric' de la librería 'pandas'
df_games['price'] = pd.to_numeric(df_games['price'],errors='coerce')

In [15]:
# Reemplazamos los strings: 'Free To Play' y 'Free to Play' por '0' en la columna 'price'
df_games['price'] = df_games['price'].replace({'Free To Play':'0','Free to Play':'0'})

In [16]:
# Verificamos la columna 'price'
df_games['price']

88310     4.99
88311      NaN
88312      NaN
88313     0.99
88315     3.99
          ...
120439    1.99
120440    1.99
120441    4.99
120442    1.99
120443    4.99
Name: price, Length: 22528, dtype: float64

In [17]:
# Reemplazamos los valores nulos por '0' en la columna 'price'
df_games['price'] = df_games['price'].fillna(0)

In [18]:
# Verificamos los valores de la columna 'price'
df_games['price'].sort_values()

111106      0.00
118626      0.00
118630      0.00
116625      0.00
99275       0.00
           ...
97384     399.99
102614    499.99
106104    499.99
90702     771.71
100398    995.00
Name: price, Length: 22528, dtype: float64

In [19]:
# Eliminamos las siguientes columnas porque al parecer, no las voy a necesitar:'tags','specs'y 'early_access'
cols = ['tags','specs','early_access']
df_games = df_games.drop(cols,axis=1)

In [20]:
# Verificamos los registros y columnas eliminadas
df_games.head(2)

,publisher,genres,app_name,title,url,release_date,reviews_url,price,id,developer,year
88310,Kotoshiro,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,http://store.steampowered.com/app/761140/Lost_...,2018-01-04,http://steamcommunity.com/app/761140/reviews/?...,4.99,761140.0,Kotoshiro,2018
88311,"Making Fun, Inc.","[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,http://store.steampowered.com/app/643980/Ironb...,2018-01-04,http://steamcommunity.com/app/643980/reviews/?...,0.00,643980.0,Secret Level SRL,2018

In [21]:
# Verificamos los tipos de datos de los 22528 registros y 10 columnas
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22528 entries, 88310 to 120443
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     22528 non-null  object
 1   genres        22528 non-null  object
 2   app_name      22528 non-null  object
 3   title         22528 non-null  object
 4   url           22528 non-null  object
 5   release_date  22528 non-null  object
 6   reviews_url   22528 non-null  object
 7   price         22528 non-null  float64
 8   id            22528 non-null  float64
 9   developer     22528 non-null  object
 10  year          22528 non-null  int32
dtypes: float64(2), int32(1), object(8)
memory usage: 2.0+ MB

In [23]:
# Salvamos el DataFrame como 'df_games.csv' 
#df_games.to_csv('df_games.csv',index=False)

#### Abriendo el archivo: *`australian_user_reviews.json`*

In [24]:
# Una vez extraido el archivo.json: `australian_user_reviews.json`, procedemos a abrirlo con `open` y 
# partiendo de una lista vacia con el metodo `append` vamos completando nuestro archivo `evaluando cada linea` 
# del archivo.json y usando la libreria `ast`. Mientras el archivo.json, se apoya en el parámetro:
# encoding='utf-8' para ser leído y abierto correctamente.
lista = []
with open("../data/australian_user_reviews.json",encoding='utf-8') as f:
    for line in f.readlines():
        lista.append(ast.literal_eval(line))
#lista

#### Una vez abierto el archivo `australian_user_reviews.json`:
* `Revisamos si hay columnas a desanidar para tomar los datos`.
* `Se corre nuevamente, sin abrir la lista`.
* `Enseguida, se transforma la lista en DataFrame`

In [25]:
# Se abre el DataFrame y observamos que la columna 'reviews', se encuentra anidada.
df = pd.DataFrame(lista)
df.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

#### Antes de desanidar la columna: `reviews`
* Creamos la columna: `sentiment_analysis`
* Con la librería: `TextBlob`

In [26]:
# Importamos la libreria capaz de ayudarnos en la tarea de analisis de sentimientos.
# Es decir, creamos la función `sentiment_analysis` con parámetro: `review`
from textblob import TextBlob 
def sentiment_analysis(review):
    '''Creamos una función de analisis de sentimientos con parametro `review`, usando
       la libreria `TextBlob` para pegarle el metodo `sentiment.polarity` y generar tres
       (`0`:Negative,`1`:Neutral,`2`:Positive) mediciones del sentimiento a evaluar.'''
    if isinstance(review,list) and len(review) > 0:
        text = review[0].get('review','')
        sentiment = TextBlob(text).sentiment.polarity
        if sentiment < -0.2:
            return 0 # Negative
        elif sentiment >= -0.2 and sentiment <= 0.2:
            return 1 # Neutral
        else:
            return 2 # Positive
    else:
        return 1

#### Una vez creada la función `sentiment_analysis`
* Aplicamos la función `sentiment_analysis`, a la columna `reviews`

In [27]:
# Creamos la columna:`sentiment_analysis`, aplicando la funcion:`sentiment_analysis` a la columna:`reviews`.
df['sentiment_analysis'] = df['reviews'].apply(sentiment_analysis)
df.head()

,user_id,user_url,reviews,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...",1
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014...",1
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',...",2
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2...",2
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',...",1

#### Para desanidar la columna: `reviews`. 
* Vamos a iterar las columnas del archivo A: `australian_user_reviews.json`
* Para este propósito, usaremos el método:`iterrows`
* Y mediante un diccionario alojaremos el `archivo A`, incluyendo las columnas desanidadas

In [28]:
# Creamos una lista vacia para alojar nuestros datos desanidados
lista_desanidada = []
# `iterrows`, se usa para iterar atravez de las filas del archivo.
for index,row in df.iterrows():
    user_id = row['user_id']
    user_url = row['user_url']
    sentiment_analysis_value = row['sentiment_analysis']
    reviews = row['reviews']
# Le pegamos a la lista_desanidada, el siguiente diccionario.   
    for e in reviews:
        dicc_row = {
            'user_id': user_id,
            'user_url': user_url,
            'reviews': reviews,
            'sentiment_analysis': sentiment_analysis_value,
            'funny': e.get('funny', ''),
            'posted': e.get('posted', ''),
            'last_edited': e.get('last_edited', ''),
            'item_id': e.get('item_id', ''),
            'helpful': e.get('helpfull', ''),
            'recommend': e.get('recommend',False),
            'review': e.get('review', '')
        }
        lista_desanidada.append(dicc_row)

#### Transformamos a `DataFrame`:
- Eliminamos la columna `reviews`

In [29]:
df_desanidada = pd.DataFrame(lista_desanidada)

In [30]:
# Antes de abrir el dataset, eliminamos la columna reviews
df_desanidada.drop(['reviews'],axis=1,inplace=True)
df_desanidada.head()

,user_id,user_url,sentiment_analysis,funny,posted,last_edited,item_id,helpful,recommend,review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,"Posted November 5, 2011.",,1250,,True,Simple yet with great replayability. In my opi...
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,"Posted July 15, 2011.",,22200,,True,It's unique and worth a playthrough.
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,"Posted April 21, 2011.",,43110,,True,Great atmosphere. The gunplay can be a bit chu...
3,js41637,http://steamcommunity.com/id/js41637,1,,"Posted June 24, 2014.",,251610,,True,I know what you think when you see this title ...
4,js41637,http://steamcommunity.com/id/js41637,1,,"Posted September 8, 2013.",,227300,,True,For a simple (it's actually not all that simpl...

#### Convertimos la columna *`posted`* a formato fecha *`AAAA-MM-DD`*
* Usamos las librerías: `dateutil y parser`
* Eliminamos la palabra **`Posted`** de cada registro de la columna *`posted`*
* Aplicamos la función `parse_date`a la columna `posted`

In [31]:
# Importamos la libreria `parser` de `dateutil` para covertir a formato fecha(AAAA-MM-DD).
from dateutil import parser
# Enseguida creamos una funcion para tal efecto y sustituyendo la palabra:
# `Posted` que aparece en cada registro, por ""
def parse_date(date_str):
    try:
        return parser.parse(date_str.replace('Posted',""),fuzzy=True)
    except ValueError:
        return None

In [32]:
# Tomamos la columna `posted` y le aplicamos la función previamente creada.
# Creamos la columna 'posted_date' y eliminamos la columna 'posted'
df_desanidada['posted_date'] = df_desanidada['posted'].apply(parse_date)
df_desanidada = df_desanidada.drop(['posted'],axis=1)

In [33]:
# Abrimos el DataFrame para verificar los registros y columnas
df_desanidada.head()

,user_id,user_url,sentiment_analysis,funny,last_edited,item_id,helpful,recommend,review,posted_date
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,,1250,,True,Simple yet with great replayability. In my opi...,2011-11-05
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,,22200,,True,It's unique and worth a playthrough.,2011-07-15
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,,43110,,True,Great atmosphere. The gunplay can be a bit chu...,2011-04-21
3,js41637,http://steamcommunity.com/id/js41637,1,,,251610,,True,I know what you think when you see this title ...,2014-06-24
4,js41637,http://steamcommunity.com/id/js41637,1,,,227300,,True,For a simple (it's actually not all that simpl...,2013-09-08

In [34]:
# Verificamos las columnas y registros, antes de eliminar las columnas que no vamos a necesitar.
# Contamos con 59305 registros y 10 columnas
df_desanidada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   user_url            59305 non-null  object
 2   sentiment_analysis  59305 non-null  int64
 3   funny               59305 non-null  object
 4   last_edited         59305 non-null  object
 5   item_id             59305 non-null  object
 6   helpful             59305 non-null  object
 7   recommend           59305 non-null  bool
 8   review              59305 non-null  object
 9   posted_date         59280 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(1), object(7)
memory usage: 4.1+ MB

In [35]:
# Eliminamos las siguientes columnas, no necesitadas: 'funny','last_edited' y 'helpful'
cols = ['funny','last_edited','helpful']
df_desanidada = df_desanidada.drop(cols,axis=1)

In [36]:
# Verificamos, la eliminación de las columnas anteriores y la reducción de columnas.
# Contamos ahora con los mismos 59305 registros y 7 columnas.
df_desanidada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   user_url            59305 non-null  object
 2   sentiment_analysis  59305 non-null  int64
 3   item_id             59305 non-null  object
 4   recommend           59305 non-null  bool
 5   review              59305 non-null  object
 6   posted_date         59280 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(1), object(4)
memory usage: 2.8+ MB

In [37]:
# Creamos la columna 'year', extrayendola de la columna 'posted_date' a partir del metodo 'to_datetime' de la librería 'pandas'
df_desanidada['year'] = pd.to_datetime(df_desanidada['posted_date'],errors='coerce').apply(lambda x:str(x).split('-')[0] if x != None else None)

In [38]:
# Abrimos el archivo, para ver el resultado
df_desanidada.head(2)

,user_id,user_url,sentiment_analysis,item_id,recommend,review,posted_date,year
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,1250,True,Simple yet with great replayability. In my opi...,2011-11-05,2011
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,22200,True,It's unique and worth a playthrough.,2011-07-15,2011

In [39]:
# Verificamos tipo de dato de la columna 'year'
df_desanidada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   user_url            59305 non-null  object
 2   sentiment_analysis  59305 non-null  int64
 3   item_id             59305 non-null  object
 4   recommend           59305 non-null  bool
 5   review              59305 non-null  object
 6   posted_date         59280 non-null  datetime64[ns]
 7   year                59305 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(5)
memory usage: 3.2+ MB

In [40]:
# Convertimos a número los tipos de registro de la columna 'year'
df_desanidada['year'] = pd.to_numeric(df_desanidada['year'],errors='coerce')

In [41]:
# Verificamos los datos de la columna 'year'
df_desanidada['year'].sort_values()

29806    2010.0
15693    2010.0
24664    2010.0
5358     2010.0
45134    2010.0
          ...
49410       NaN
49411       NaN
52326       NaN
56697       NaN
57240       NaN
Name: year, Length: 59305, dtype: float64

In [42]:
# Encontramos valores nulos en la columna 'year' y los eliminamos
df_desanidada = df_desanidada.dropna(subset=['year'])

In [43]:
# Checamos el tipo de dato de la columna 'year'
df_desanidada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59280 entries, 0 to 59304
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59280 non-null  object
 1   user_url            59280 non-null  object
 2   sentiment_analysis  59280 non-null  int64
 3   item_id             59280 non-null  object
 4   recommend           59280 non-null  bool
 5   review              59280 non-null  object
 6   posted_date         59280 non-null  datetime64[ns]
 7   year                59280 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 3.7+ MB

In [44]:
# Como vemos que el tipo de dato de la columna 'year' es 'float', lo convertimos a 'integer'
df_desanidada['year'] = df_desanidada['year'].astype(int)

In [45]:
# Verificamos su correcta conversión 
df_desanidada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59280 entries, 0 to 59304
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59280 non-null  object
 1   user_url            59280 non-null  object
 2   sentiment_analysis  59280 non-null  int64
 3   item_id             59280 non-null  object
 4   recommend           59280 non-null  bool
 5   review              59280 non-null  object
 6   posted_date         59280 non-null  datetime64[ns]
 7   year                59280 non-null  int32
dtypes: bool(1), datetime64[ns](1), int32(1), int64(1), object(4)
memory usage: 3.4+ MB

In [46]:
# Aplicamos el método drop_duplicates() para reducir un poco la cantidad de registros.
df = df_desanidada.drop_duplicates()

In [47]:
# Salvamos el archivo como 'df_reviews.csv'
#df.to_csv('df_reviews.csv',index=False)

### Abriendo el archivo:*`australian_users_items.json`*

In [48]:
# Una vez extraido el archivo.json: `australian_users_items.json`, procedemos a abrirlo con `open` y 
# partiendo de una lista vacia con el metodo `append` vamos completando nuestro archivo `evaluando cada linea` 
# cada line del archivo.json con ayuda de la libreria `ast`. Mientras el archivo.json, se apoya en el parámetro:
# encoding='utf-8' para ser leído y abierto correctamente.
lista = []
with open("../data/australian_users_items.json",encoding='utf-8') as f:
    for line in f.readlines():
        lista.append(ast.literal_eval(line))

#lista

#### Una vez abierto el archivo `australian_users_items.json`:
* `Revisamos si hay columnas a desanidar para tomar los datos`.
* `Se corre nuevamente, sin abrir la lista`.
* `Enseguida, se transforma la lista en DataFrame`

In [49]:
# Se abre el DataFrame y observamos que la columna 'items', se encuentra anidada.
df_items = pd.DataFrame(lista)
df_items.head()

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."

In [50]:
# Creamos una lista vacia para alojar nuestros datos desanidados
lista_desanidada = []
#`iterrows`, se usa para iterar atravez de las filas de nuestro archivo
for index,row in df_items.iterrows():
    user_id = row['user_id']
    items_count = row['items_count']
    steam_id = row['steam_id']
    user_url = row['user_url']
# A la lista_desanidada, le anexamos el siguiente diccionario    
    for i in row['items']:
        dicc_row = {
            'user_id': user_id,
            'items_count': items_count,
            'steam_id':steam_id,
            'user_url': user_url,
            'item_id': i['item_id'],
            'item_name': i['item_name'],
            'playtime_forever': i['playtime_forever'],
            'playime_2weeks': i['playtime_2weeks']
        }
        lista_desanidada.append(dicc_row)

#### Desanidamos la columna: *`items`* para aplicarla al archivo: *`australian_users_items.json`*

#### Una vez hecho el procedimiento anterior, transformamos a DataFrame la `lista_desanidada`

In [51]:
# Abrimos el DataFrame para ver el resultado del desanide de la columna 'items'
df_items_des = pd.DataFrame(lista_desanidada)
df_items_des.head()

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playime_2weeks
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6,0
1,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0,0
2,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7,0
3,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0,0
4,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0,0

In [52]:
# Eliminamos los valores duplicados
df_items = df_items_des.drop_duplicates()

In [53]:
# Los registros se reducen ligeramente
df_items.shape

(5094105, 8)

In [54]:
# Vemos las columnas
df_items.columns

Index(['user_id', 'items_count', 'steam_id', 'user_url', 'item_id',
       'item_name', 'playtime_forever', 'playime_2weeks'],
      dtype='object')

In [55]:
# Vemos la cantidad de registros, columnas y tipo de data
df_items.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5094105 entries, 0 to 5153208
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int64
 2   steam_id          object
 3   user_url          object
 4   item_id           object
 5   item_name         object
 6   playtime_forever  int64
 7   playime_2weeks    int64
dtypes: int64(3), object(5)
memory usage: 349.8+ MB

In [58]:
# Voy a eliminar columnas en este dataset, que creo no voy a utilizar: 'steam_id' y 'play,e_2weeks'
cols = ['steam_id', 'playime_2weeks']
df_items = df_items.drop(cols,axis=1)

In [61]:
# Tome 100000 registros para aligerar la carga de memoria
df_items.head(100000)

,user_id,items_count,user_url,item_id,item_name,playtime_forever
0,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6
1,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0
2,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7
3,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0
4,76561197970982479,277,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0
...,...,...,...,...,...,...
99995,chidvd,6410,http://steamcommunity.com/id/chidvd,217270,Karateka,0
99996,chidvd,6410,http://steamcommunity.com/id/chidvd,3230,Genesis Rising,0
99997,chidvd,6410,http://steamcommunity.com/id/chidvd,39630,AquaNox,0
99998,chidvd,6410,http://steamcommunity.com/id/chidvd,39640,AquaNox 2: Revelation,0
99999,chidvd,6410,http://steamcommunity.com/id/chidvd,65500,Aura: Fate of the Ages,0

In [62]:
# Salvamos el DataFrame como 'df_items.csv'
#df_items.head(100000).to_csv('df_items.csv',index=False)

### **Salvados los respectivos datasets.csv**:
* Los envie al folder `data` para aligerar el proyecto
* Capturamos la actualización

<p><img src="formas/data_mas.png", width="700"></p>

<h6 align=right><i>Cohorte</i>:DataPT04</h6>
<h6 align=right><i>Mexico - 2023</i></h6>
<h6 align=left><i>Pag. 1</i></h6>